.card {
  --background: hsl(0 0% 3.9%);
  --foreground: hsl(0 0% 98%);
  --card: hsl(0 0% 3.9%);
  --card-foreground: hsl(0 0% 98%);
  --popover: hsl(0 0% 3.9%);
  --popover-foreground: hsl(0 0% 98%);
  --primary: hsl(0 0% 98%);
  --primary-foreground: hsl(0 0% 9%);
  --secondary: hsl(0 0% 14.9%);
  --secondary-foreground: hsl(0 0% 98%);
  --muted: hsl(0 0% 14.9%);
  --muted-foreground: hsl(0 0% 63.9%);
  --accent: hsl(0 0% 14.9%);
  --accent-foreground: hsl(0 0% 98%);
  --destructive: hsl(0 70.9% 59.4%);
  --border: hsl(0 0% 14.9%);
  --input: hsl(0 0% 14.9%);
  --bg-input: hsla(0, 0%, 14.9%, 0.3);
  --ring: hsl(300 0% 45%);
  --chart-1: hsl(220 70% 50%);
  --chart-2: hsl(160 60% 45%);
  --chart-3: hsl(30 80% 55%);
  --chart-4: hsl(280 65% 60%);
  --chart-5: hsl(340 75% 55%);

  background: var(--popover-foreground);
  border-radius: 12px;
  border: 1px solid var(--muted-foreground);
  padding: 24px;
}
.card-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-header h1 {
  margin: 0;
  color: var(--card);
  font-weight: bold;
  font-size: 20px;
}

.card-header p {
  margin-top: 4px;
  color: var(--muted-foreground);
  font-weight: bold;
  font-size: 14px;
}

.card-content {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--card);
}

.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

label {
  font-size: 14px;
}

input {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid var(--input);
  font-size: 14px;
  background-color: hsl(0 0% 90%);
}

input:focus {
  outline: none;
  border-color: var(--chart-1);
}

.password-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.primary-btn {
  margin-top: 8px;
  padding: 5px;
  border-radius: 8px;
  border: none;
  background: var(--background);
  color: var(--primary);
  font-size: 20px;
  cursor: pointer;
}

.primary-btn:disabled {
  opacity: 0.6;
  cursor: default;
}

.link-btn {
  background: none;
  border: none;
  padding: 0;
  font-size: 13px;
  color: #2563eb;
  cursor: pointer;
}

.loader {
  text-align: center;
  font-size: 14px;
}

.error {
  text-align: center;
  color: #dc2626;
  font-weight: 600;
}

.register {
  text-align: center;
  font-size: 14px;
}

.separator {
  display: flex;
  align-items: center;
  gap: 12px;
}

.separator span {
  flex: 1;
  height: 1px;
  background: #e5e7eb;
}

.separator p {
  font-size: 13px;
  color: #6b7280;
}

.social-placeholder {
  text-align: center;
  /*padding: 12px;*/
  font-size: 14px;
  display: flex;
  /*align-items: center;*/
  flex-direction: column;
}

.social-btn {
  margin-top: 8px;
  padding: 5px;
  border: 1px solid var(--input);
  border-radius: 8px;
  background: hsl(0 0% 90%);
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.social-btn:disabled {
  opacity: 0.6;
  cursor: default;
}
