.scroll-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 24px;
  margin-top: 100px;
}

.content {
  width: 50%;
  max-width: 700px;
  min-width: 400px;
}

/*config*/
.card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  text-align: center;
}
.header h2 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}
.header p {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 18px;
  text-align: justify;
  color: var(--muted-foreground);
}

label {
  font-size: 14px;
}

select {
  width: 180px;
  padding: 6px 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

option {
  font-size: 14px;
  color: var(--primary);
  background-color: var(--muted);
}

.selector {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.error {
  text-align: center;
  color: #dc2626;
  font-weight: 600;
}

.start-btn {
  margin-top: 16px;
  width: 80%;
  align-self: center;
  padding: 10px;
  border-radius: 8px;
  background: var(--foreground);
  color: var(--background);
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
