.card {
  /*max-width: 420px;*/
  margin: 0 auto;
  padding: 20px;

}

.header h2 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.question-text {
  margin-top: 12px;
  font-size: 16px;
  text-align: justify;
}

.score {
  margin-top: 8px;
  font-weight: bold;
  text-align: right;
}

.answers {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.answer-btn {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid var(--foreground);
  background: white;
  color: black;
  text-align: left;
  cursor: pointer;
}

.answer-btn:hover {
  background: hsl(0 0% 85%);
  border-color: hsl(0 0% 85%);
}


body.dark .answer-btn {
  border: none;
}

.answer-btn.dark {
  border: none; /* dark mode */
}

.answer-btn.selected {
  background: #64B5F6;
  border-color: #64B5F6;
}

.answer-btn.correct {
  background: #66BB6A;
  border-color: #66BB6A;
  cursor: default;
}

.answer-btn.wrong {
  background: #EF5350;
  border-color: #EF5350;
  cursor: default;
}

.answer-btn.missed {
  background: #FFEE58;
  border-color: #FFEE58;
  cursor: default;
}

.answer-btn.none {
  background: var(--background);
  border-color: var(--foreground);
  color: var(--primary);
  cursor: default;
}

.footer {
  margin-top: 20px;
}

.primary,
.secondary {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.primary {
  background: var(--primary);
  color: var(--background);
}

.secondary {
  background: #111827;
  color: #fff;
}

.last {
  background: #D32F2F;
  color: var(--background);
}

.rule {
  margin-bottom: 12px;
  padding: 10px;
  background: var(--muted);
  border-radius: 8px;
  font-size: 16px;
}
