.scroll-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 24px;
  margin-top: 100px;
}

.content {
  width: 100%;
  max-width: 380px;
}

.logo {
  width: 100%;
  height: 120px;
  object-fit: contain;
  margin-bottom: 16px;
}
