.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background: var(--background);
  margin-top: 100px;

}

.image-wrapper {
  width: 200px;
  margin-top: 3.5rem;
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  gap: 0.75rem;
}

.btn {
  width: 400px;
  padding: 0.1rem 0;
  background-color: var(--primary-foreground);
  border: 2px solid var(--muted);
  border-radius: 0.5rem;
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--red-600);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primary-foreground)/50;
}

.btn.orange {
  color: var(--orange-600);
}


.btn.gray {
  color: var(--muted-foreground);

}
.btn.gray:hover {
  background-color: var(--primary-foreground);
  cursor: default;
}
