.scroll-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 24px;
  margin-top: 100px;
}

.content {
  width: 50%;
  max-width: 700px;
  min-width: 400px;
}

.spinner {
  border: 4px solid rgba(0,0,0,0.1);
  border-left-color: #4f46e5; /* fioletowy */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
